th,
td {
    text-align: center;
}

#generado {
    font-size: 0.8em;
}

h3 {
    text-align: center;
}

#fila_cero {
    text-align: center;
}

h1 {
    font-size: 45px;
    text-align: center;
}

#enviar {
    display: none;
}

#pie {
    display: none;
}

.nombre {
    text-align: center;
}

#errores {
    display: none;
}

.sorting,
.sorting_asc,
.sorting_desc {
    text-align: center;
}