/* @media (max-width: 564px) {
    .columnita {
        display: none;
    }
} */

.btn-success {
    color: #fff;
    background-color: #009688;
    border-color: #28a745;
}

.btn-danger {
    color: #fff;
    background-color: #e83e8cd9;
    border-color: #dc3545;
}

#t_seleccion {
    font-size: 32.5px;
}

table td {
    word-wrap: break-word;
    text-align: center;
}

.nombre {
    color: white;
}

#cursos {
    color: white;
}

#seleccionados {
    color: white;
}

body {
    background-color: #2E3192;
    color: white;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th {
    text-align: center;
}

#generado {
    font-size: 0.8em;
}

h3 {
    text-align: center;
}

#fila_cero {
    text-align: center;
}

h1 {
    font-size: 45px;
    text-align: center;
}

#enviar {
    display: none;
}

#pie {
    display: none;
}

.nombre {
    text-align: center;
}

#errores {
    display: none;
}

.sorting, .sorting_asc, .sorting_desc {
    text-align: center;
}